In [1]:
import pandas as pd

In [2]:
data_df=pd.read_csv("human-development-index.csv")

In [3]:
data_df

           Entity Code  Year   ((0-1; higher values are better))
0     Afghanistan  AFG  1980                               0.228
1     Afghanistan  AFG  1985                               0.273
2     Afghanistan  AFG  2002                               0.373
3     Afghanistan  AFG  2003                               0.383
4     Afghanistan  AFG  2004                               0.398
...           ...  ...   ...                                 ...
4996     Zimbabwe  ZWE  2013                               0.516
4997     Zimbabwe  ZWE  2014                               0.525
4998     Zimbabwe  ZWE  2015                               0.529
4999     Zimbabwe  ZWE  2016                               0.532
5000     Zimbabwe  ZWE  2017                               0.535

[5001 rows x 4 columns]

In [4]:
clean_df= data_df.fillna(0)

In [5]:
clean10_df = clean_df.loc[clean_df['Year'] == 2010]

In [6]:
clean11_df = clean_df.loc[clean_df['Year'] == 2011]

In [7]:
clean12_df = clean_df.loc[clean_df['Year'] == 2012]

In [8]:
clean13_df = clean_df.loc[clean_df['Year'] == 2013]

In [9]:
clean14_df = clean_df.loc[clean_df['Year'] == 2014]

In [10]:
clean15_df = clean_df.loc[clean_df['Year'] == 2015]

In [11]:
clean16_df = clean_df.loc[clean_df['Year'] == 2016]

In [12]:
clean17_df = clean_df.loc[clean_df['Year'] == 2017]

In [13]:
clean18_df = clean_df.loc[clean_df['Year'] == 2018]

In [14]:
clean10_df.to_csv("./Clean/human-development-index 2010.csv", index = False)

In [15]:
clean11_df.to_csv("./Clean/human-development-index 2011.csv", index = False)

In [16]:
clean12_df.to_csv("./Clean/human-development-index 2012.csv", index = False)

In [17]:
clean13_df.to_csv("./Clean/human-development-index 2013.csv", index = False)

In [18]:
clean14_df.to_csv("./Clean/human-development-index 2014.csv", index = False)

In [19]:
clean15_df.to_csv("./Clean/human-development-index 2015.csv", index = False)

In [20]:
clean16_df.to_csv("./Clean/human-development-index 2016.csv", index = False)

In [21]:
clean17_df.to_csv("./Clean/human-development-index 2017.csv", index = False)

In [22]:
clean18_df.to_csv("./Clean/human-development-index 2018.csv", index = False)